@page "/"
@inject DataService DataService

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<button @onclick="(e) => AddToStorage(testInput)">Upload test blob to storage</button>

@code {
    string testInput = "Testing testing..."; 

    private void AddToStorage(string data)
    {
        DataService.AddToStorage(data);
    }
}
